<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <input class="new-todo" [attr.myAttribute]="attributeBinding" #todoInput (keyup.enter)="add(todoInput)"
      [placeholder]="placeholder" autofocus />
  </header>
  <section class="main" style="display: block">
    <input id="toggle-all" class="toggle-all" type="checkbox" [checked]="toggleAllBtn" (click)="toggleAll()" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- <li data-id="1659859088014" [class]="{completed : check1, smallText: check1}">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="check1" (click)="clickCheck1()" />
          <label>111</label><button class="destroy"></button>
        </div>
      </li>
      <li data-id="1659859089744" [class]="{completed : check2, smallText : check2}">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="check2" (click)="clickCheck2()" />
          <label>222</label><button class="destroy"></button>
        </div>
      </li> -->

      <!-- 改用*ngFor寫<li>的內容 -->
      <li *ngFor="let item of nowTodoList; let i = index"
        [class]="{ completed: item.Status,editing:item.Editing ,smallText: item.Status }">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="item.Status" (click)="clickCheck(item)">
          <!-- 利用ngFor提供的index(i)參數刪除陣列裡的指定物件 -->
          <label (dblclick)="edit(item)">{{ item.Context }}</label><button class="destroy" (click)="delete(item)"></button>
        </div>
        <!-- 使用ngIf控制元素是否出現在Html上 -->
        <input *ngIf="item.Editing" #itemInput [value]="item.Context" (keyup.enter)="update(item, itemInput.value)"
          (blur)="update(item, itemInput.value)" (mouseenter)="itemInput.focus()" class="edit">
      </li>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
    <span class="todo-count"><strong>{{todoActive.length}}</strong> items left</span>
    <ul class="filters">
      <li>
        <a [class.selected]="nowTodoStatusType === TodoStatusType.All" (click)="setTodoStatusType(TodoStatusType.All)"
          href="#/">All</a>
      </li>
      <li>
        <a [class.selected]="nowTodoStatusType === TodoStatusType.Active"
          (click)="setTodoStatusType(TodoStatusType.Active)" href="#/active">Active</a>
      </li>
      <li>
        <a [class.selected]="nowTodoStatusType === TodoStatusType.Completed"
          (click)="setTodoStatusType(TodoStatusType.Completed)" href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="todoCompleted.length" (click)="ClearCompleted()">Clear completed</button>
  </footer>
</section>
<br />
<Table border="1">
  <tr>
    <td [colSpan]="2">01</td>
    <td>02</td>
    <td>03</td>
    <td>04</td>
  </tr>
  <tr>
    <td rowspan="2">05</td>
    <td>06</td>
    <td [attr.rowspan]="1 + 1">07</td>
    <td>08</td>
  </tr>
  <tr>
    <td>09</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
  </tr>
</Table>
<br />
<button (mouseenter)="btnFun($event)">
  <h3>傳入mouseenter事件參數$event(用console log檢視)</h3>
</button>
<div [style]="{ fontSize: '2em', color: 'red' }">Style語法示範</div>

<div>
  <ol>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/06/BindingInterpolation">文字插植</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/07/BindingPropertyAndAttribute">Property(通常會改變元素外觀or特性) /
        Attribute(通常不影響元素外觀or特性) 繫結</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/07/EventBinding">事件繫結-元素click事件呼叫ts的函式</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/08/ClassBinding">class繫結-更好的class管理方式</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/10/StyleBinder">style繫結-(較少用到)</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/12/NgFor">ngFor用法-依ts中陣列數量及內容依序顯示在HTML上</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/12/NgForUserIndex">利用ngFor提供的index參數刪除陣列裡的指定物件</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/13/TemplateVariables">使用範本變數和按鍵事件過濾優雅的完成新增待辦事項功能</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/14/InterfaceOrClass">使用Interface或Class-為變數定義型別</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/16/NgIf">使用ngIf控制元素是否出現在Html上</a></li>
    <li><a href="https://blog.talllkai.com/Angular/2022/08/20/enum"></a>使用列舉型別增加可讀性及可維護性</li>
  </ol>
</div>