<div>
  <ol>
    <li>
      <a
        href="https://blog.talllkai.com/Angular/2022/08/06/BindingInterpolation"
        >文字插植</a
      >
    </li>
    <li>
      <a
        href="https://blog.talllkai.com/Angular/2022/08/07/BindingPropertyAndAttribute"
        >Property(通常會改變元素外觀or特性) /
        Attribute(通常不影響元素外觀or特性) 繫結</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/07/EventBinding"
        >事件繫結-元素click事件呼叫ts的函式</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/08/ClassBinding"
        >class繫結-更好的class管理方式</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/10/StyleBinder"
        >style繫結-(較少用到)</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/12/NgFor"
        >ngFor用法-依ts中陣列數量及內容依序顯示在HTML上</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/12/NgForUserIndex"
        >利用ngFor提供的index參數刪除陣列裡的指定物件</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/13/TemplateVariables"
        >使用範本變數和按鍵事件過濾優雅的完成新增待辦事項功能</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/14/InterfaceOrClass"
        >使用Interface或Class-為變數定義型別</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/16/NgIf"
        >使用ngIf控制元素是否出現在Html上</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/08/20/enum"
        >使用列舉型別增加可讀性及可維護性</a
      >
    </li>
    <li>
      <a href="https://blog.talllkai.com/Angular/2022/09/04/proxy"
        >在開發中讀取遠端API-建立proxy.conf.json</a
      >
    </li>
  </ol>
</div>
